<article class='margen'>
    <header>
        <h1>Construir una aplicación con navegación y rutas (Parte 1)</h1>
        <div class='byline'>
            <span class='author'>
                Escrito por
                <a href='https://twitter.com/justicefries' target='_new'>Gerred Dillon</a>
            </span>
            <time></time>
        </div>
    </header>
    <br>
    <p>Este es el comienzo de una serie de varios capítulos sobre navegación y el enrutamiento. Vamos a empezar de forma sencilla, mediante la creación de una aplicación simple que puede cambiar entre pestañas. A medida que avanzemos, profundizaremos en las características de una aplicación de "lista de tareas" y mostraremos algunas de las características avanzadas que las rutas de ionic nos ofrece.</p>

    <p>Podrá ver un ejemplo al final del artículo.</p>

    <h2 id="the-need-for-routing">La necesidad del enrutamiento</h2>

    <p>Cuando una aplicación es pequeña, es fácil seguir el estado de las cosas.</p>

    <p>Pero a medida que se hace más grande y compleja, ésto se vuelve más difícil. ¿De dónde vienen mis variables? ¿Qué plantilla debo mostrar? ¿Desde dónde estoy mostrando esta plantilla? ¿Cómo anido esta vista de detalles? ¿Qué ocurre si ésto en una vista de detalles, cambio entre pestañas y vuelvo atrás?</p>

    <p>Muchas de estas preguntas empiezan a surgir, y empezamos a repetir código para solvertar estos problemas. De hecho, acabamos creando nuestra propia máquina de estados. Aquí es donde la navegación con Ionic y angular-ui-router entran en juego para solventar nuestras dudas.</p>

    <h2 id="getting-started">Empezando</h2>

    <p>Para empezar, vamos a crear la aplicación más sencilla posible: mostrar una sola vista utilizando el enrutado de Ionic. Desde allí extenderemos la capa añadiendo más y más características hasta conseguir una aplicación completa.</p>

    <p>Mostrar una única vista es tan simple como usar el siguiente HTML:</p>

    <div>
        <pre><code ng-prism class="language-markup">&lt;!DOCTYPE html>
&lt;html ng-app="ionicApp">

  &lt;head>
    &lt;link data-require="ionic@1.0.0-beta6" data-semver="1.0.0-beta6" rel="stylesheet" href="http://code.ionicframework.com/1.0.0-beta.6/css/ionic.css" />
    &lt;script data-require="ionic@1.0.0-beta6" data-semver="1.0.0-beta6" src="http://code.ionicframework.com/1.0.0-beta.6/js/ionic.bundle.js">&lt;/script>
    &lt;link rel="stylesheet" href="style.css" />
    &lt;script src="script.js">&lt;/script>
  &lt;/head>

  &lt;body>
    &lt;ion-nav-view>&lt;/ion-nav-view>
  &lt;/body>
&lt;/html></code></pre>
    </div>

    <p>Las etiqueta
        <code>ion-nav-view</code>es nuestro controlador. El enrutamiendo de Ionic buscará esta directiva todo el tiempo en nuestro código para insertar plantillas.
        <code>ion-nav-view</code>soporta herencia, nombres de vistas y otras caracteríasticas de las que hablaremos a lo largo de esta serie.</p>

    <blockquote class="note">
        <p>
            <strong>Nota:</strong>si estás familiarizado con
            <code>angular-ui-router</code>,
            <code>ion-nav-view</code>es equivalente a
            <code>ui-view</code>. Además,
            <code>ion-nav-view</code>soporta animaciones, históticos y más.</p>
    </blockquote>

    <p>Manejar el HTML es ligeramente más interesante:</p>

    <div>
        <pre><code ng-prism class="language-javascript">var app = angular.module('ionicApp', ['ionic'])

app.config(function($stateProvider, $urlRouterProvider) {
  $urlRouterProvider.otherwise('/')

  $stateProvider.state('home', {
    url: '/',
    template: '&ltp>Hello, world!&lt/p>'
  })
})</code></pre>
    </div>

    <p>Para empezar, configuraremos una aplicación estándar de Angular. En nuestro bloque de configuración inyectaremos
        <code>$stateProvider</code>y
        <code>$urlRouterProvider</code>. Éstas directivas nos proporcionan lo necesario para configurar los estados de nuestra aplicación.</p>

    <p>Dentro del bloque de configuración podemos empezar a declarar nuestros estados. Aquí se puede ver como declaramos uno y le asignamos una plantilla. Cuando se ejecute, la plantilla se inyectará donde hayamos colocado la etiqueta
        <code>ion-nav-view</code>de nuestra plantilla principal.</p>

    <p>También podemos tener las plantillas de forma externa para mantener mejor nuestro código.</p>

    <div>
        <pre><code ng-prism class="language-javascript">$stateProvider.state('home', {
  url: '/',
  templateUrl: 'home.html'
})</code></pre>
    </div>

    <p>Cambiar la declaración del estado para usar
        <code>templateUrl</code>causará que Angular busque ésta plantilla en
        <code>$templateCache</code>. Si no la encuentra en la caché, se pedirá al servidor y se guardará en la caché.</p>

    <blockquote class="note">
        <p>
            <strong>Nota:</strong>Más abajo usamos la etiqueta con el tipo
            <code>text/ng-template</code>y un id con el nombre de la página. Ésto añadirá la plantilla a la caché de plantillas y nos ahorrará la petición al servidor.</p>
    </blockquote>

    <h2 id="adding-some-navigation">Añadiendo navegación</h2>

    <p>Usar enrutamiento en nuestras páginas no es muy útil si solo tenemos un estado. Vamos a modificar nuestra plantilla para usar pestañas:</p>

    <div>
        <pre><code ng-prism class="language-markup">&lt;body>
  &lt;ion-tabs class="tabs-positive">
    &lt;ion-tab icon="ion-home" ui-sref="home">
      &lt;ion-nav-view name="home">&lt;/ion-nav-view>
    &lt;/ion-tab>
    &lt;ion-tab icon="ion-help" ui-sref="help">
      &lt;ion-nav-view name="help">&lt;/ion-nav-view>
    &lt;/ion-tab>
  &lt;/ion-tabs>
&lt;/body></code></pre>
    </div>

    <p>¡Muchos cambios! Vamos a descomponerlo.</p>

    <p>Para empezar, hemos cambiado nuestra aplicación para usar la directiva
        <code>ion-tabs</code>. Si no estás familiarizado con ella, <a href="#js.tabs">consulta la documentación </a>.</p>

    <p>Nuestra directiva
        <code>ion-nav-view</code>se ha movido a dentro de la directiva tab. Hay 2 cosas a destacar aquí. Primero, hemos añadido un atributo
        <code>name</code>a
        <code>ion-nav-view</code>. Ahora hay más de un
        <code>ion-nav-view</code>en nuestra plantilla en la misma jerarquía y tenemos que dar nombre a nuestras vistas. Sin ésto, el enrutador no será capaz de determinar correctamente el lugar en el que insrtar la plantilla, causando fallos en los eventos y errores en nuestra aplicación.</p>

    <p>Segundo, la propia pestaña tiene una directiva
        <code>ui-sref</code>. Es como un
        <code>href</code>pero especifica el estado al que nos queremos dirigir, pero para movernos a otro estado, ¡necesitamos añadirlo! Aquí está el código:</p>

    <div>
        <pre><code ng-prism class="language-javascript">$stateProvider.state('home', {
  url: '/home',
  views: {
    home: {
      templateUrl: 'home.html'
    }
  }
})

$stateProvider.state('help', {
  url: '/help',
  views: {
    help: {
      templateUrl: 'help.html'
    }
  }
})</code></pre>
    </div>

    <p>Los nombres de los estados cambian ligeramente. Añadimos una clave
        <code>views</code>que es un objeto que llama a nuestras sub-vistas. en su interior hay un objeto que declara un estado como lo hicimos anteriormente. Para más información está disponible la <a href="https://github.com/angular-ui/ui-router/wiki/Multiple-Named-Views">documentación sobre angular-ui-router</a>.</p>

    <p>No podemos olvidarnos de las vista, las añadiremos al final del
        <code>body</code>(también podemos tenerlas en archivos independientes):</p>

    <div>
        <pre><code ng-prism class="language-markup">&lt;script type="text/ng-template" id="home.html">
  &lt;ion-view title="Home">
    &lt;ion-content padding="true">
      &lt;h2>Home Page&lt;/h2>
      &lt;p>Here's the main route for the app.&lt;/p>
    &lt;/ion-content>
  &lt;/ion-view>
&lt;/script>

&lt;script type="text/ng-template" id="help.html">
  &lt;ion-view title="Home">
    &lt;ion-content padding="true">
       &lt;h2>Using the app&lt;/h2>
       &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p>
    &lt;/ion-content>
  &lt;/ion-view>
&lt;/script></code></pre>
    </div>

    <p>En este punto, tenemos una aplicación simple que puede usar pestañas. Estaría bien tener una barra de encabezado que supiera en la pestaña que nos encontramos y se actualizara en función a ello. Vamos a añadirla</p>

    <h2 id="adding-a-header">Añadiendo un encabezado</h2>

    <p>Poner una barra de encabezado es muy fácil, basta con añadir lo siguiente antes de la directiva
        <code>ion-tabs</code>:</p>

    <div>
        <pre><code ng-prism class="language-markup">&lt;ion-nav-bar class="bar-positive">
&lt;/ion-nav-bar></code></pre>
    </div>

    <p>Ahora cuando ejecutemos nuestra aplicación, veremos en la parte superior nuestro encabezado con su título correspondiente. Estos títulos son asignados gracias al atributo
        <code>title</code>de
        <code>ion-view</code>.</p>

    <h2 id="conclusion">Conclusión</h2>

    <p>Ahora tenemos una aplicación simple que centraliza nuestros estados. En la parte 2 de esta fórmula añadiremos contenido dinámico a nuestras vistas y una lista de detalles para usar en nuestra aplicación.</p>
    <p>Puedes ver el ejemplo funcionando al final del artículo original <a href="http://learn.ionicframework.com/formulas/navigation-and-routing-part-1/">aquí</a>.</p>

</article>
