<h1>¡Empieza a desarrollar con Ionic!</h1>

<div class="row docs-home-row">
    <section class="content">
        <div class="span12">
            <div class="col-sm-4">
                <a href="#/general">
                    <img src="img/docs-overview-symbol@2x.png" width="170" height="140">
                </a>
                <h3><a href="#/general">General</a>
                </h3>
                <p>Aprenda todo lo que necesita saber para empezar a trabajar con éste framework</p>
            </div>

            <div class="col-sm-4">
                <a href="#/css">
                    <img src="img/docs-components-symbol@2x.png" width="170" height="140">
                </a>
                <h3><a href="#/css">Componentes CSS</a>
                </h3>
                <p>Una lista completa de nuestros componentes CSS para móviles. Todo lo que necesitas.</p>
            </div>

            <div class="col-sm-4">
                <a href="#/js">
                    <img src="img/docs-controllers-symbol@2x.png" width="170" height="140">
                </a>
                <h3><a href="#/js">JavaScript</a>
                </h3>
                <p>Explore la documentación de la API para obtener información sobre controladores y utilidades de Javascript</p>
            </div>
        </div>
        <!-- end row 1 -->


        <div class="row docs-home-row">

            <div class="col-sm-4">
                <a href="#/guia">
                    <img src="img/docs-book-symbol@2x.png" width="170" height="140">
                </a>
                <h3><a href="#/guia">La guía Ionic</a>
                </h3>
                <p>Un mini libro para familiarizarte con ionic Framework.</p>
            </div>

            <div class="col-sm-4">
                <a href="#/faq">
                    <img src="img/docs-cli-symbol@2x.png" width="170" height="140">
                </a>
                <h3><a href="#/faq">CLI FAQ</a>
                </h3>
                <p>Lea sobre algunos errores comunes relacionados con Cordova, Node.js, la NPM, Android</p>
            </div>

            <div class="col-sm-4">
                <a href="#/demos">
                    <img src="img/docs-demos-symbol@2x.png" width="170" height="140">
                </a>
                <h3><a href="#/demos">Demos</a>
                </h3>
                <p>Algunos ejemplos reales construidos con Ionic.</p>
            </div>

        </div>
        <!-- end row 2 -->
</div>
</section>
